@page // @page makes the file into an MVC action, which means that it handles requests directly
@{
    Layout = "_Layout";
    ViewData["Title"] = "YEET";
}

<div>
    <h1 class="display-4">YEET</h1>
    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Privacy</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
</div>